<div class="container-fluid">
  <mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav mode="over" (keydown.escape)="close('escape')" disableClose style="width: 300px; border: 1px solid black; background-color: lightslategray">
      <div class="container-fluid">
        <div class="row">
          <img alt="my profile pic" height="400" width="100%" class="border" />
        </div>

        <!-- Contents -->
        <div class="row">
          <ul class="list-unstyled">
            <li><a>Browse Topics</a></li>
            <li><a>Browse articles</a></li>
            <li><a>About me</a></li>
            <li><a>Contact</a></li>
          </ul>
        </div>
      </div>

      <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
    </mat-sidenav>

    <mat-sidenav-content >
      <div style="border: 1px solid blue;">
        <p><button mat-button (click)="sidenav.open()">Open</button></p>
        <p>Closed due to: {{reason}}</p>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>


  <router-outlet></router-outlet>

</div>
